<!--
  // TODO: criar o layout como no diagrama
  // TODO: adicionar o link de navegação à sidebar
  // TODO: exibir a resposta da data-hora consultada na api
  // TODO: adicionar um input e um botão à página
  // TODO: criar um método POST no api.service que envie o texto do input e exiba a resposta na página
-->

<div class="bloco">
  <h1>Título da Página</h1>
  <div class="container">
      <div class="sidebar">
      <h2>SIDEBAR</h2>
      <a routerLink = "/start">Start</a>
  </div>
  <div class="api">
    <div class="hello">
      <h2 class="getHello"></h2>
    </div>
    <div class="hora">
      aaaa
    </div>
      <input id = "btn" type="text" [(ngModel)] = "inputGet">
      <button class="button" type = "button" value="Enviar" (click)= "resposta()"></button>
      <div id="txt">

      </div>
  </div>

  </div>

</div>


{{ apiGreeting }}
